.mainhead{
	text-align: center;
        color: orange;
        font-size: 96pt;	
}
.mainhead2{
	text-align: left;
        color: blue;
	
}
.mainhead3{
	text-align: right;
        color: red;
        font-size: 96px;
}
