h1 {
       text-align: center;
        color: orange;
        font-size: 96pt;
        
      }
      h1#opt1{
       text-align: center;
       color: blue;
        
        
      }
      h1#opt2{
        text-align: left;
        color: red;
        font-size: 96px;
      }
 table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
        padding: 20px;
            }
body{
	 background-image: url('lotofbass.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;	
	
}
